.mat-form-field {
    margin-left: 10px;
    margin-right: 10px
 }

 li {
     list-style-type: none;
 }

 .registerBtn { 
     margin-left: 90px;
 }

 .mat-form-field-wrapper {
     padding-bottom: 0px;
 }

 .mat-error {
     padding-left: 10px;
     padding-bottom: 10px;
 }